<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/app.log"
            archiveFileName="${basedir}/logs/app.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            archiveAboveSize="5242880"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}" />

    <target name="console" xsi:type="Console"
            layout="${shortdate} ${level:uppercase=true} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
